%div{ :data => {:role => "content" }}
  %div(data-role="collapsible-set")

    %div(data-role="collapsible" id="c0")
      %h3 Edit Name ( #{@training_set.name} )

      =form_for @training_set, :id=>"update-tags" do |f|
        = f.text_field :name
        = f.submit
        

    %div(data-role="collapsible" id="c1")
      %h3 Add Words To List

      %div(id="word-add-view")

        %form{:action=>"#", :method=>"post", :onsubmit=>"return false"}
          %input{:type=>"text"}
      
      %div{:id=>"word-list-view"}

        %ul{:id=>"set_list",  :data => {:filter=>true, :role=> "listview", :inset=>'true' }}

    %div(data-role="collapsible" id="c2")
      %h3 Play

      %div{:id=>"word-play-view", 'data-url'=>random_word_training_set_path(@training_set)}
        %div{ :data => {:role => "content" }}
          %ul{ :data => { :role=> "listview" }}
            %li(data-role="list-divider")
              %span{:id => "word-play-link"}
              %span{:id=>"word-message"}
            %li.der
              %a der
            %li.die 
              %a die
            %li.das
              %a das
