%div{ :data => {:role => "content" }}
  %div(data-role="collapsible")
    %h3=@set.tags
    = semantic_form_for @set do |form|
      = form.inputs :tags
      = form.buttons :commit
  %div(data-role="collapsible")
    %h3 New Word
    %form{:action => new_word_training_set_path, :method=>"post"}
      %input{:name=>"authenticity_token", :value=>form_authenticity_token, :type=>"hidden"}
      %input{:name=>"training_set[word]", :type=>"text"}
      %input{:name=>"commit", :type=>"submit", :value=>"Add Word"}
  %div(data-role="collapsible")
    %h3 Nouns
    %ul{:id=>"set_list",  :data => {:filter=>true, :role=> "listview" }}
      - @set.nouns(current_user).each do |noun|
        %li=noun
