%div{ :data => {:role => "content" }}
  %ul{:id=>"set_list",  :data => { :role=> "listview" }}
    - @sets.each do |set|
      %li
        - path = edit_training_set_path(set)
        %a.set(data-role="button" href=path)=set.tags
    %li(data-role="button" data-icon="plus")
      %a(href=new_training_set_path)
