.der, .der a {
  background: green !important;
  color: white !important;
}
.die, .die a {
  background: blue !important;
  color: white !important;
}

.das, .das a {
  background: red !important;
  color: white !important;
}

