.der, .der a {
  background: red !important;
  color: white !important;
}
.die, .die a {
  background: blue !important;
  color: white !important;
}

.das, .das a {
  background: gray !important;
  color: white !important;
}

.correct {
  padding: 1em;
  margin: 0.5em;
  background: lightgreen !important;
  color: blue !important;
}

.incorrect {
  padding: 1em;
  margin: 0.5em;
  background: red !important;
  color: yellow !important;
}

#word {
  display: inline;
}

#word-play-link {
  text-decoration: none;
}


