%div{ :data => {:role => "header" }}
  %h1 German Word Trainer
 
%div{ :data => {:role => "content" }}
  %ul{ :data => { :role=> "listview" }}
    %h2= @word
    =form_for @word, :url => check_word_path(:article => "der", :word=> @word), :method=>"post" do |f|
      = f.submit :type=>"submit", :name=>"submit", :value=>"der" 

    =form_for @word, :url => check_word_path(:article => "die", :word=> @word), :method=>"post" do |f|
      = f.submit :type=>"submit", :name=>"submit", :value=>"die" 

    =form_for @word, :url => check_word_path(:article => "das", :word=> @word), :method=>"post" do |f|
      = f.submit :type=>"submit", :name=>"submit", :value=>"das" 

