%div{:id=>"word", :data => {:role => "header", :backbtn=>"false", :word=>@word[:word], :article=>@word[:article] }}
  %h1=@word[:word]
 
%div{ :data => {:role => "content" }}
  %ul{:id=>"derdiedas",  :data => { :role=> "listview" }}
    %li.der 
      %a der
    %li.die 
      %a die
    %li.das 
      %a das
